body{
  background-color: #D8F1EA;
}

h2 {
  color: #545F66;
  font-size: 170%;
  font-variant: small-caps;
  text-decoration-line: overline underline;
  letter-spacing: 3px;
  word-spacing: 5px;
  text-shadow: 2px 2px 5px;
}
    h2:hover {
      text-shadow: 2px 2px 5px #AFC283;
      font-size: 200%;
      img-size: 50%;
  }
  img{
    width: 20%;
    border: groove #FFEFF6 3px;
  }
}
